*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://pbs.twimg.com/media/FM61dZSXIAU4UXg?format=jpg&name=large);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
}


.contactform{
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
}

.satauri {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .texti{
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.341);
        padding: 20px;
        text-align: center;
        border: solid;
        border-radius: 10px;
        border-color: transparent;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .inp1 {
        width: 200px;
        background-color: rgba(128, 128, 128, 0.341);
        border: solid;
        border-radius: 10px;
        border-color: transparent;
        margin-top: 10px;
    }

    ::placeholder{
        color: black;
        padding-left: 10px;
    }

    #textarea {
        background-color: rgba(128, 128, 128, 0.341);
        border: solid;
        border-radius: 10px;
        border-color: transparent;
        position: relative;
        left: 210px;
        bottom: 80px;
        height: 200px;
        width: 390px;

        

    }

    .btn a{
        background-color: rgba(128, 128, 128, 0.341);
        border: solid;
        border-radius: 10px;
        border-color: transparent;
        position: relative;
        text-decoration: none;
        padding: 10px;
        color: black;
        left: 210px;
        bottom: 60px;
        
    }