* {
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;

}

.container{
    width: 1300px;
    max-width: 100%;
    margin: auto;
}

.row{
    display: flex;
    background-color: rgba(0, 0, 0, 0.377);
    border: 1px solid;
    
}

.list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 250px;
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.lifirst{
    padding: 0px 30px;
    font-weight: bold;
    
    
}


.mordfirst {
    width: 80px;
    height: 80px;
}

.mordsecond{
    margin-top: 10px;
    width: 30%;
    height: 80vh;

}

.imagerow{
    
    display: flex;
    align-items: center;
    
    
}

.textfirst{
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute;
    left: 70%;
    transform: translateX(-70%); */
    background-color: rgba(0, 0, 0, 0.418);
    color: rgba(0, 0, 0, 0.733);
    /* width: 50%;
    height: 40vh; */
    border: 1px solid;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 30px;
    padding: 100px;
    
    
}

.textfirst h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 10px;
}

.textfirst h4{
    font-size: 21px;
    text-align: center;
}

.listsecond {
    margin-top: 40px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.lisecond {
    padding: 0px 15px;
}
 .fa-solid{
     padding-left: 3px;
 }

 .lifirst:hover{
     background-color: rgba(0, 0, 0, 0.568);
     border: 1px solid;
     border-radius: 4px;
     border-color: transparent;
     color: white;
 }

 .lisecond{
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     
 }

 .lisecond:hover {
    background-color: rgba(0, 0, 0, 0.568);
    border: 1px solid;
    border-radius: 4px;
    border-color: transparent;
    color: white;

 }

 .images {
     position: relative;
     display: flex;
     flex-wrap: wrap;
 }

 .mordres {
     width: 50%;
     height: 500px;
     padding: 10px;
 }
 

 
.load p {
    margin-top: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    font-weight: bold;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box {
    background-color: rgba(128, 128, 128, 0.473);
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.cardss{
    border: 3px solid;
    padding-top: 30px;
    width: 33.333%;
    text-align: center;
    border-radius: 5px;
    
  
    
    
    
    
}

.mordimages{
    padding: 15px 15px;
    width: 400px;
    height: 400px;

}



.fut {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dgl {
    color: rgba(0, 0, 0, 0.448);
    display: inline-block;
    padding-left: 30px;
    font-weight: bold;
}

.hey{
    font-weight: bold;
}