*{
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.214);
}

header {
    position: relative;
    display: flex;
    background-color: rgba(169, 169, 169, 0.422);
    justify-content: flex-start;
    align-items: center;
}

.row {
    position: absolute;
    left: auto;
}


img {
    position: relative;
    left: 1000px;
    width: 100px;
    height: 100px;
    max-width: 100%;
    margin-left: 50px;
    
    
    
}



li{
    display: inline-block;
    padding: 0 15px;
    
    
    
    
}

a {
    background-color: darkgrey;
    text-decoration: none;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    padding: 0 15px;
    margin-right: 50px;
    border
    
    
    
}



