body {
    background-color: rgba(128, 128, 128, 0.432);
    margin: 0;
}

.paymentst{
    display: flex;
    padding: 0 15px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: transparent;
    width: 50%;
    text-align: center;
    margin: auto;
    
}

