* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background-color: rgba(13, 13, 13, 0.162);
}


h3{
    background-color: rgba(109, 13, 199, 0.648);
    color: white;
    font-weight: 200;
    height: 50px;
    padding: 10px 15px;

}



.sidebarlist{
    
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 250px;
    height: 250px;
    padding: 10px;
    
    
    
    
}


li {
    list-style: none;
    padding-top: 15px;
    font-size: 12px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
}

.search {
   
   border-radius: 10px;
   border: 1px solid rgb(213, 195, 195);
   background-color: rgba(128, 128, 128, 0.158);
}



.comp {
    font-size: 10px;
    color: rgba(128, 128, 128, 0.56);
    padding-top: 10px;
    
}

::placeholder{
    font-size: 10px;
    text-align: center;
}