




.container {
    max-width: 1502px;
}



.headerimg{
    background-image: url(.//imgsforfinalproject/bgimg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    
    }


.lilbitoff{
    position: relative;
    bottom: 5px;
}



.navbar-nav{
    padding-top: 43px;
    
    
    
}

.navbar-brand{
    padding-top: 42px;

}


.nav-link{
    font-size: 14px;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    
}

.nav-item {
    padding: 0px 25px;
}

