*{
    box-sizing: border-box;
    
}


body {
    margin: 0;
  
    background-color: rgba(0, 0, 0, 0.548);
}

p{
    text-align: center;
    
}


.row{
   
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    }


    .col3{
        
        width: 33.333%;
        opacity: 0.8;
        padding: 5px ;
        
        
        

    }


.md{
    width: 450px;
    height: 300px;
    
}



.col3:hover{
    opacity: 1;
    
    
}

p:hover{
    font-size: 30px;
    color: white;
    font-family: fantasy;
    
    
}

.inpt{
    margin-top: 15px;
    border: 3px solid;
    border-color: transparent;
    border-radius: 15px;
    padding: 0px 10px;
}


.bla{
    text-align: center;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    width: 150px;
  
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.426);
    color: white;
}

.bla:hover{
    transform: rotateY(40deg);
}