.container {
    max-width: 1530px;
}

.lilbitoff {
    position: relative;
    bottom: 5px;
    right: 4px;
}



.navbar-nav {
    padding-top: 44px;



}

.navbar-brand {
    padding-top: 31px;

}


.nav-link {
    font-size: 14px;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}

.nav-item {
    padding: 0px 25px;
}

.xd {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.headings {
    font-size: 60px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;

}

.hehe {

    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.carousel-caption {

    position: absolute;
    right: 15%;
    bottom: 31.3%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;

}

.slidertext {
    font-size: 24px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 13px 0px 41px 0px;

}

.ko {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: 1px solid white;
    padding: 11px 50px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 22.8%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators [data-bs-target] {

    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid white;
    /* border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; */
    opacity: 1;
    transition: opacity .6s ease;
    border-radius: 50%;

}

.carousel-indicators .active {
    background-color: white !important;
    opacity: 1 !important;


}

.carousel-control-prev {
    left: 3.6%;
    bottom: 1%;
}

.carousel-control-next {
    right: 3.6%;
    bottom: 1%;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.bi-caret-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 38px;
    color: white;
    opacity: 1;

}

.headingfirst {
    letter-spacing: 2px;
    margin-top: 97px;
    color: #576671;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;

}

.parafirst {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8e9aa4;
    margin-top: 31px;
}

.linegreen {
    width: 30px;
    height: 1px;
    background-color: #17daa3;
    margin: auto;
    margin-top: 27px;

}



.cardstotop {
    margin-top: 152px;
}

.headingsecond {
    color: black;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    margin-top: 80px;

}

.parasecond {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9da8b0;
    padding: 0px 15px;
    margin-top: 31px;
}


.btnsecond {
    background-color: #17daa3;
    color: white;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border-radius: 24px !important;
    text-align: center;
    margin-top: 93px;
}

.lorembgcolorgray {
    background-color: #f9f9fa;
    margin-top: 111px;
}

.headingthird {

    color: #576671;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;


}

.parathird {
    font-size: 18px;
    color: #87949e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 51px 3px 0px 3px;
    line-height: 36px;
}

.textsss {
    padding-top: 150px;
}

.buttonup {
    padding: 52px 0px;
}

.btnnomargin {
    margin: 0;

}


.slidersss {
    margin-top: 114px;
}





.carousel-item2 {
    height: 703px;
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.carousel-item2 img {

    margin: auto;
    margin-top: 188px;
}

.headingfourth {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 300;
    margin-top: 41px;
}

.greenalecto {
    color: #16ce9a;
}

.parafourth {
    font-size: 18px;
    letter-spacing: 0px;
    font-family: 'Raleway', sans-serif;
    color: #535353;
    font-weight: 500;
    margin-top: 30px;

}

.carousel-inner2 {
    background-image: url(.//imgsforfinalproject/backgroundimg\ for\ slider.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-indicators2 {
    position: absolute;
    right: 0;
    bottom: 18%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators2 [data-bs-target] {

    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid white;
    /* border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; */
    opacity: 1;
    transition: opacity .6s ease;
    border-radius: 50%;

}

.carousel-indicators2 .active {
    background-color: white !important;
    opacity: 1 !important;


}

.somth {
    background-color: #f9f9fa;
    padding: 30px 0;
}

.headingfifth {
    font-size: 60px;
    letter-spacing: 2px;
    color: #576671;
    font-weight: 250;
    font-family: 'Raleway', sans-serif;
    width: fit-content !important;
}

.parafifth {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #87949e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 18px 0px 0px 4px;
}

.icns {
    width: 95px;
    height: 95px;
}

.toleft {
    margin-left: 6%;
    padding-top: 13px;
}

.downfromheading {
    margin-top: 11.8%;

}

.testmargins {
    margin-top: 8%;
}

.olympian {
    width: 100%;
    height: 400px;

}

.imgcarti {
    position: relative;
}


.cartioverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2dddabd2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.cartioverlay:hover {
    opacity: 1;
}

.cardtext {
    font-size: 30px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.dxo {
    margin-top: 110px;
}


.pricing {
    background-color: #f9f9fa;
    padding: 30px 0px;
}

.card5 {
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 5px;
    background-color: white;


}

.cardhead5 {
    border-bottom: 1px solid gray;
    padding: 30px;
}

.cardtext5 {
    line-height: 20px;
    padding: 40px 0px;
}

.btnno1 {
    border-radius: 1px !important;
    background-color: #16ce9a;
    border-color: transparent;
    padding: 10px 32px;
    font-weight: bold;

    text-align: start;
}

.cardhead5 h1 {
    padding-top: 10px;
    font-size: 60px;
    letter-spacing: 2px;
    color: #17daa3;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.cardhead5 p {
    font-size: 18px;
    letter-spacing: 0px;
    color: #87949ea4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cardhead5,
.cardtext5 {
    padding-left: 34px;
}

.cardtext5 {
    padding-top: 90px;
}


.cardtext5 p {
    font-size: 18px;
    letter-spacing: 0px;
    color: #87949e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.bi-cart4 {
    position: relative;
    left: 40%;
}

.downmm {
    margin-top: 107px;
}



.row {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.mapimg{
    max-width: 100%;
    
}

.mapdown{
    margin: auto;
}

.mapp{
    background-color: white;
    padding: 0;
    margin: 0;
}








































.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #198754d1;
    border-color: #198754bf;
}












@media (max-width: 1062px) {
    .headings {
        font-size: 30px;
        font-weight: 100;
        font-family: 'Raleway', sans-serif;

    }

    .carousel-caption {

        position: absolute;
        right: 15%;
        bottom: 35%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;


    }

    .slidertext {
        font-size: 16px;
        font-weight: 100;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 13px 0px 41px 0px;

    }

    .ko {
        font-size: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        border: 1px solid white;
        padding: 11px 50px;
    }

    .bi-cart4 {
        position: relative;
        left: 5%;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 15%;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;
        list-style: none;
    }

    .headingfourth {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Raleway', sans-serif;
        color: white;
        font-weight: 300;
        margin-top: 100px;
    }

    .greenalecto {
        color: #16ce9a;
    }

    .parafourth {
        font-size: 12px;
        letter-spacing: 0px;
        font-family: 'Raleway', sans-serif;
        color: #535353;
        font-weight: 500;
        margin-top: 30px;

    }
}







@media (max-width: 600px) {
    .headingfifth {
        font-size: 30px;
        letter-spacing: 2px;
        color: rgb(87, 102, 113);
        font-weight: 700;
        font-family: Raleway, sans-serif;
        width: fit-content !important;
    }
}


@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 auto;
        width: 20%;
        flex-shrink: 0;
        flex-wrap: wrap;
    }
}