@font-face {
    font-family: Nino;
    src: url(../fonts/bpg_nino_mtavruli_bold.otf);
}



a {
    text-decoration: none;
}

.sub-nav{
    background-color: #373933;
    padding: 4px 0px;
    z-index: 1;
    opacity: 0.5;
}

.navbar{
    z-index: 1;
    margin-top: 33px;
    background-color: white;
}





.menu a {
    font-family: Nino;
    color: white;
    padding: 0px 9px;
    font-size: 15px;
    
    
}


.lang a {
    font-size: 15px;
    color: white;
    font-family: Nino;
    line-height: initial;
}

.imgisoff{
    position: relative;
    bottom: 6px;
    left: 9px;
}

.positionoff{
    position: relative;
    bottom: 3px;
}


.nav-item a {
    font-family: Nino;
    font-size: 17px;
    color: #6b6b6b;
    opacity: 1;
    margin-top: 4px;
    margin-bottom: 5px;
}

.nav-link img {
    margin-right: 10px;
}

.dropdown-menu a{
    font-family: Arial, Helvetica, sans-serif;
    color: #575757;
    
   
    
    
    border-bottom: 1px solid #c3cbcc;
}

.dropdown-menu {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}



.bl{
    width: 209px;
    height: 108px;
    padding: 20px 15px 0;
    background-color: white;
    margin-top: 24px;
    
    
    
}



.endd{
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    color: #828282;
    
}



.imggrow{
    
    
    background-color: #f0f1e9;
    
}

.wh1{
    
    
    width: 180px;
    height: 65px;
}







@media (min-width: 576px) {
.container {
    max-width: 1100px;
}
}





.dropdown-toggle::after {
    display: none;
    
}

