* {
    box-sizing: border-box;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}




.col100{
    
    width: 100%;
    background-color: rgb(12, 102, 180);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100px;
    color: white;

}

.col50{
    width: 50%;
    background-color: rgb(12, 102, 180);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 15px;
    
    


}


