* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card{
    
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.082);
    width: 350px;
    
}

.card1 {
    
    width: 100%;
    position: relative;
}

.card1 p {
    border: solid orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 30px;
    right: 30px;
    
}

.card1 img {
    width: 350px;
    height: 250px;
}

.cardbody .p1 {
    color: red;
}

.cardbody a {
    border: solid 1px;
    border-radius: 5px;
    background-color: orange;
    text-decoration: none;
    color: white;
    width: 100px;
    
}

