*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.616);
}

img {
    width: 80px;
    height: 80px;
    
}



.container  {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.479);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    
}

ul {
    
    display: inline-flex;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.822);
    padding:  5px 30px;
    border: solid ;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.274);
    border-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    }

  
   

    ul:hover{
        background-color: black;
    }

    .main {
        
        width: 1200px;
        max-width: 100%;
        margin: auto;
        margin-top: 150px;
        }


.main .xd  {
    width: 200px;
    border: solid ;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
}

.row1{
    display: flex;
    
}


.first {
    width: 50%;
}

p{
    color: black;
   

}

.card{
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border:  1px solid;
    border-color: transparent;
    border-radius: 5px;
    width: 500px;
   
  
    
    }

    .insider{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
       
       
        
    }
   

    .xd2 {
        margin-top: 20px;
        width: 60px;
        height: 60px;
        
        
    }

    form{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        
        
    }


   .btn {
       padding: 20px 0;
     

   }

   .btn a {
       text-align: center;
       text-decoration: none;
       color: black;
       font-size: 18px;
       
   }
   

   .btn button {
       padding: 15px 30px;
       border: 3px solid;
       border-radius: 10px;
       border-color: transparent;
   }

   button:hover{
       background-color: gray;
   }

 