*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
}

img {
    width: 100px;
    height: 100px;
    
    justify-content: flex-end;
    
    
    
    
}

.list li{
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}

.btn {
    

    

}