*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card{
    width: 350px;
    margin: auto;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.233) ;
    border-radius: 7px;
    
}

.card1{
    background-color: rgba(3, 20, 66, 0.671);
    border-radius: 10px;
    position: relative;
    height: 150px;
    
}

.card1 img{
    width: 100px;
    height: 100px;
    border: solid 2px rgba(0, 27, 83, 0.705);
    border-radius: 50%;
    bottom: -30px;
    left: 125px;
    position: absolute;
    background: black;
}

.cardbody{
    text-align: center;
}

.cardbody h1 {
    font-size: 21px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.705);
}

.cardbody a {
    border: solid 2px rgba(0, 0, 0, 0.486);
    color: black;
    border-radius: 10px;
    background-color: rgba(3, 82, 187, 0.336);
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    width: 150px;
    display: inline-block;
}

.cardbody h4 {
    font-size: 16px;
    color: rgba(128, 128, 128, 0.582);
}

.cardbody p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.479);
}