*{
    box-sizing: border-box;
}

html,body{
    background: rgb(230, 228, 225);
}

.cards {
    width: 350px;
    display: block;
    background-color: white;
    border-radius: 4px;
    box-shadow: 7px 7px 10px rgb(167, 167, 167);
    margin: 0 auto;
}

.cards img {
    width: 100%;
}

.cards .title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.cards .title1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: red;
    text-align: center;
}

.article {
    padding-left: 10px;
    font-weight: 400;
}

.cards .btn button {
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}