*{
    box-sizing: border-box;
}

body {
    background-color: rgba(199, 125, 125, 0.175);

}

.cards {
    width: 350px;
    height: 400px;
    display: block;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.138);
    border-radius: 7px;
    box-shadow: 7px 7px 7px rgb(167, 167, 167); 
    
    margin: 0 auto;
}

.cards img {
    width: 100%;
    border-bottom-right-radius: 50px;
   
}

.cards .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 21px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
}

.cards .article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.521);
    padding-left: 10px;
}

.btn {
    color: rgb(0, 136, 255);
    font-size: 12px;
    padding-left: 10px;
    padding-top: 30px;

}