body {
    background-image: url(https://idenetworks.xyz/img/zil/zilliqa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
}



.background{
    color: burlywood;
    text-shadow: 1px 3px 1px grey;
    padding: 400px;
    background: rgb(0, 0, 0, 0.5);
    background-attachment: fixed;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    position:absolute; left:400px; top:400px;
    
    
}




















/* h1{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 1px 3px 1px grey;
    background: rgba(0, 0, 0, 0,5);
    padding: 10px;
    
    
    
    
}

h2{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    text-shadow: 1px 2px 1px grey;
 
    
} */

